# Created by venv; see https://docs.python.org/3/library/venv.html

# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc

# Docker files not needed for repo (optional)
*.dockerignore

# System files
.DS_Store
Thumbs.db